/* Reset margin and padding for the whole page */
body, html {
  margin: 0;
  padding: 0;
  height: 100%; 
}


.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  width: 100vw;  
  position: relative; 
  overflow: hidden; 
  background-color: var(--background-color); 
  background-image: url('../images/bg.jpg');
  background-size: cover;  
  background-repeat: no-repeat;
  text-align: center;
  color: var(--text-color); 
}

.home-container h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: inherit; 
  padding: 20px; 
  box-sizing: border-box;
}

.home-container p {
  font-size: 1.5rem;
  margin: 0; 
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  padding: 10px; 
  box-sizing: border-box;
  color: inherit; 
}
